<img src="https://cdn.discordapp.com/attachments/820416224005586945/886613185434636318/d0x-k1t-v2.png">
<p align="center"><i>Active reconaissance, information gathering and OSINT built in a portable web application test.</i></p>
<div align="center">
  <a href="https://github.com/roo7k1d/d0x-k1t-v2/stargazers"><img src="https://img.shields.io/github/stars/roo7k1d/d0x-k1t-v2?color=yellow" alt="Stars Badge"/></a>
<a href="https://github.com/roo7k1d/d0x-k1t-v2/network/members"><img src="https://img.shields.io/github/forks/roo7k1d/d0x-k1t-v2?color=orange" alt="Forks Badge"/></a>
<a href="https://github.com/roo7k1d/d0x-k1t-v2/pulls"><img src="https://img.shields.io/github/issues-pr/roo7k1d/d0x-k1t-v2" alt="Pull Requests Badge"/></a>
<a href="https://github.com/roo7k1d/d0x-k1t-v2/issues"><img src="https://img.shields.io/github/issues/roo7k1d/d0x-k1t-v2" alt="Issues Badge"/></a>
<a href="https://github.com/roo7k1d/d0x-k1t-v2/graphs/contributors"><img alt="GitHub contributors" src="https://img.shields.io/github/contributors/roo7k1d/d0x-k1t-v2?color=2b9348"></a>
<a href="https://github.com/roo7k1d/d0x-k1t-v2/blob/master/LICENSE"><img src="https://img.shields.io/github/license/roo7k1d/d0x-k1t-v2?color=2b9348" alt="License Badge"/></a>
<br>
<a href="https://github.com/roo7k1d/d0x-k1t-v2/"><img src="https://img.shields.io/github/repo-size/roo7k1d/d0x-k1t-v2?color=important" alt="License Badge"/></a>
<a href="https://github.com/roo7k1d/d0x-k1t-v2/"><img src="https://img.shields.io/tokei/lines/github/roo7k1d/d0x-k1t-v2?color=yellowgreen" alt="License Badge"/></a>
<a href="https://github.com/roo7k1d/d0x-k1t-v2/releases"><img src="https://img.shields.io/github/v/release/roo7k1d/d0x-k1t-v2?color=success" alt="License Badge"/></a>
<a href="https://github.com/roo7k1d/d0x-k1t-v2/commits"><img src="https://img.shields.io/github/last-commit/roo7k1d/d0x-k1t-v2" alt="License Badge"/></a>
</div>
<br>
<p align="center"><a href="https://github.com/roo7k1d/d0x-k1t-v2/issues">Report a Bug</a> | <a href="https://github.com/roo7k1d/d0x-k1t-v2/issues">Request a New Feature</a> | <a href="https://github.com/d0x-k1t-v2/pulls">Help Develop This Project</a> | <a href="https://ko-fi.com/RootK1d">Fund Me</a></p>
<p align="center"><i>Loved the project? Please consider giving a star</i> :)</p>
<hr>
<h2>Installation Guide</h2>
<p>Since D0x-K1t-v2 is self-hosted, it does not work immediately out-of-box. It is recommended that you use a virtualenv container due to the sheer number of dependencies that can run into conflict with your Python configuration.
<br>
<br>
<b>Building</b><br></p>
<pre><code class="language-text">$ git clone https://github.com/roo7k1d/D0x-K1t-v2 &amp;&amp; cd D0x-K1t-v2
$ # Start virtualenv if you wish
$ pip install -r requirements.txt
$ python run.py
</code></pre>
<br>
Of course, this is self-hosting on localhost. Although work-in-progress, D0x-K1t-v2 will soon support hosting on a variety of SaaS and server stacks of your choice.
<ul>
<li><a href="https://www.heroku.com/">Heroku</a> - <strong>TODO</strong>: build a <code>Procfile</code>, as well as bash scripts for automatic deployment</li>
<li><a href="https://ngrok.com/">ngrok</a> - <strong>TODO</strong>: build a script for deployment to ngrok</li>
</ul>
<hr>
<h2>Demo</h2>
<img src="https://cdn.discordapp.com/attachments/820416224005586945/886616728946241556/unknown.png">
<hr>
<h2>Support</h2>
<p>For support you can create an issue <a href="https://github.com/rootk1d/pad-demo/issues">here on GitHub</a> or you can join my <a href="https://discord.gg/QQaWvMkFbs">Discord</a>.</p>
<hr>
<h2>Features</h2>
<ul>
<li>Easy-to-build, risk-free installation</li>
<li>Simple Bootstrap Admin Dashboard</li>
<li>Deployable to the Internet</li>
<li>Serverless</li>
<li>Expansive to any OS</li>
</ul>
<br>
<ul>
<li>Save Doxes in a database</li>
<li>WhoIs Lookup</li>
<li>Phone Scan</li>
<li>Port Checker</li>
<li>GeoIP Lookup</li>
</ul>
<hr>
<h2>Feedback</h2>
<p>Feedback is great! If you have a suggestion or request, create an issue! Smilarly, if you have any issues, use the issue tab to let us know.</p>
<hr>
<h2>Copyright</h2>
<p>You are not allowed to remove any part of the footer. That includes all of the info about the copyright. If you wish to remove that info feel free to contact me on my <a href="https://discord.gg/QQaWvMkFbs">Discord</a></p>
<hr>
<h2>Todo (See Issues with tag &quot;help wanted&quot;)</h2>
<ul>
<li>Add more tools</li>
</ul>
<hr>
<h2>Contributing</h2>
<p>You can help develop this project by doing some things of the todolist and making a pull request. If you have some even better ideas on how this project can be improved you can also make a pull request.</p>
<hr>
<h2>License</h2>
<p>This repo is licensed under MIT. For more information see file &quot;LICENSE&quot;.</p>
