<img src="https://cdn.discordapp.com/attachments/820416224005586945/886620544122908762/jitsi-meet-raider.png">
<p align="center"><i>For raiding Jitsi Meet conferences with bots with features like earrape, chat spam and synced spoofed camera feed.</i></p>
<div align="center">
  <a href="https://github.com/roo7k1d/jitsi-meet-raider/stargazers"><img src="https://img.shields.io/github/stars/roo7k1d/jitsi-meet-raider?color=yellow" alt="Stars Badge"/></a>
<a href="https://github.com/roo7k1d/jitsi-meet-raider/network/members"><img src="https://img.shields.io/github/forks/roo7k1d/jitsi-meet-raider?color=orange" alt="Forks Badge"/></a>
<a href="https://github.com/roo7k1d/jitsi-meet-raider/pulls"><img src="https://img.shields.io/github/issues-pr/roo7k1d/jitsi-meet-raider" alt="Pull Requests Badge"/></a>
<a href="https://github.com/roo7k1d/jitsi-meet-raider/issues"><img src="https://img.shields.io/github/issues/roo7k1d/jitsi-meet-raider" alt="Issues Badge"/></a>
<a href="https://github.com/roo7k1d/jitsi-meet-raider/graphs/contributors"><img alt="GitHub contributors" src="https://img.shields.io/github/contributors/roo7k1d/jitsi-meet-raider?color=2b9348"></a>
<a href="https://github.com/roo7k1d/jitsi-meet-raider/blob/master/LICENSE"><img src="https://img.shields.io/github/license/roo7k1d/jitsi-meet-raider?color=2b9348" alt="License Badge"/></a>
<br>
<a href="https://github.com/roo7k1d/jitsi-meet-raider/"><img src="https://img.shields.io/github/repo-size/roo7k1d/jitsi-meet-raider?color=important" alt="License Badge"/></a>
<a href="https://github.com/roo7k1d/jitsi-meet-raider/"><img src="https://img.shields.io/tokei/lines/github/roo7k1d/jitsi-meet-raider?color=yellowgreen" alt="License Badge"/></a>
<a href="https://github.com/roo7k1d/jitsi-meet-raider/releases"><img src="https://img.shields.io/github/v/release/roo7k1d/jitsi-meet-raider?color=success" alt="License Badge"/></a>
<a href="https://github.com/roo7k1d/jitsi-meet-raider/commits"><img src="https://img.shields.io/github/last-commit/roo7k1d/jitsi-meet-raider" alt="License Badge"/></a>
</div>
<br>
<p align="center"><a href="https://github.com/roo7k1d/jitsi-meet-raider/issues">Report a Bug</a> | <a href="https://github.com/roo7k1d/jitsi-meet-raider/issues">Request a New Feature</a> | <a href="https://github.com/jitsi-meet-raider/pulls">Help Develop This Project</a> | <a href="https://ko-fi.com/RootK1d">Fund Me</a></p>
<p align="center"><i>Loved the project? Please consider giving a star</i> :)</p>
<hr>
<br>
WARNING: THIS IS FOR EDUCATIONAL PURPOSES ONLY! I AM NOT RESPONSIBLE FOR ANY DAMAGE OR DISTURBANCE RESULTING FROM THIS!
<br>
<h2>Installation Guide</h2>
<ul>
<li>Download the ZIP folder</li>
<li>Download <a href="https://nodejs.org/en/download/">NodeJS</a></li>
<li>Execute <code>npm i</code> in the downloaded folder</li>
<li>In <code>config.json</code> you can adjust everything to your liking:</li>
</ul>
<pre><code>{
    &quot;url&quot;: &quot;YourRoomURL&quot;, //Your Jitsi Meet URL
    &quot;numberofbots&quot;: &quot;YourBotAmount&quot;, //The desired number of bots you want (WARNING: Currently the script is very computationally intensive, more bots will probably cause your pc to lag!)
    &quot;haspassword&quot;: false, //Whether the meeting uses a password or not
    &quot;password&quot;: &quot;YourRoomPassword&quot;, //The password the meeting uses (if &quot;haspassword&quot; is true)
    &quot;message&quot;: &quot;YourMessage&quot;, //The message you want the bots to send
    &quot;writemessage&quot;: true, //Whether or not you want every bot to repeatedly send your custom message
    &quot;raisehands&quot;: true, //Whether or not you want every bot to repeatedly raise their hands
    &quot;userandomnames&quot;: true, //Whether or not you want the bots to have randomly generated usernames
    &quot;customname&quot;: &quot;YourCustomBotsName&quot;, //The name the bots will have if &quot;userandomnames&quot; is true
    &quot;mintimebetweenmsg&quot;: 500, //The minimum time between sent messages in ms
    &quot;maxtimebetweenmsg&quot;: 2000, //The maximum time between sent messages in ms
    &quot;muteeveryone&quot;: true, //Mute everyone in the call?
    &quot;disableallcameras&quot;: false, //Disable all active camera feeds in call?
    &quot;playaudio&quot;: true //Whether or not you want the bots siren sound to be repeatedly played
}
</code></pre>
<ul>
<li>(If you download the source code: Download <code>hacked.y4m</code> from <a href="https://anonfiles.com/X4z3D0w5u5/hacked_y4m">here</a> and move it into the <code>media</code> folder)</li>
<li>Execute <code>node index.js</code> to run the script</li>
<li>Done!</li>
</ul>
<hr>
<h2>Demo</h2>
<p><a href="https://www.youtube.com/watch?v=HJ_AXiK7gyo"><img src="https://cdn.discordapp.com/attachments/820416224005586945/886622989947371651/unknown.png" alt="Preview.png"></a>
<br>
<br>
Click on the image to watch the <a href="https://www.youtube.com/watch?v=HJ_AXiK7gyo">YouTube video</a> i made on this project.</p>
<hr>
<h2>Support</h2>
<p>For support you can create an issue <a href="https://github.com/rootk1d/jitsi-meet-raider/issues">here on GitHub</a> or you can join my <a href="https://discord.gg/QQaWvMkFbs">Discord</a>.</p>
<hr>
<h2>Features</h2>
<ul>
<li>Join a Jitsi Meeting with multiple bots</li>
<li>Spam the text chat</li>
<li>Siren sound voice chat spam</li>
<li>&quot;Come forward&quot; button spam</li>
<li>&quot;Welcome to the Game&quot; skull fake camera</li>
</ul>
<hr>
<h2>Feedback</h2>
<p>Feedback is great! If you have a suggestion or request, create an issue! Smilarly, if you have any issues, use the issue tab to let us know.</p>
<hr>
<h2>Copyright</h2>
<p>You are not allowed to remove any part of the footer. That includes all of the info about the copyright. If you wish to remove that info feel free to contact me on my <a href="https://discord.gg/QQaWvMkFbs">Discord</a></p>
<hr>
<h2>Todo (See Issues with tag &quot;help wanted&quot;)</h2>
<ul>
<li>Ability to use proxies</li>
<li>Direct message spam</li>
<li>Ability to turn off fake cam</li>
<li>Make script less resource intensive</li>
<li>Better console logging</li>
</ul>
<hr>
<h2>Contributing</h2>
<p>You can help develop this project by doing some things of the todolist and making a pull request. If you have some even better ideas on how this project can be improved you can also make a pull request.</p>
<hr>
<h2>License</h2>
<p>This repo is licensed under MIT. For more information see file &quot;LICENSE&quot;.</p>
